.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

[id|="checkboxes-list"] {
  border: 1px #dadada solid;
  position: absolute;
  background-color: #fff;
  width: 100%;
  display: none;
}

[id|="checkboxes-list"].checkboxes-show {
  display: block;
}