<div [hidden]="isHidden()">
  <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
  <label
    [for]="`name-${element().itemName}-${parent.itemsId()}`"
    (click)="$event.stopPropagation()"
  >
    <input
      type="checkbox"
      [checked]="element().enabled"
      [id]="`name-${element().itemName}-${parent.itemsId()}`"
      (change)="element().enabled = $event.target.checked"
    />{{element().itemName}}</label
  >
</div>
