<div class="field" [hidden]="!service.isEnabled(this)">
  <label [for]="projectLanguagesId"
    >Languages
    <span class="version">{{service.cmakeRequiredVersion(this)}}</span
    ><span class="invalid">
      {{service.isValid(this) ? "" : "Invalid"}}</span
    ></label
  >
  <app-checkboxes-list icon="chevron-down">
    <app-checkboxes-item [element]="c()"></app-checkboxes-item>
    <app-checkboxes-item [element]="cxx()"></app-checkboxes-item>
    <app-checkboxes-item [element]="cSharp()"></app-checkboxes-item>
    <app-checkboxes-item [element]="cuda()"></app-checkboxes-item>
    <app-checkboxes-item [element]="objC()"></app-checkboxes-item>
    <app-checkboxes-item [element]="objCxx()"></app-checkboxes-item>
    <app-checkboxes-item [element]="fortran()"></app-checkboxes-item>
    <app-checkboxes-item [element]="hip()"></app-checkboxes-item>
    <app-checkboxes-item [element]="ispc()"></app-checkboxes-item>
    <app-checkboxes-item [element]="swift()"></app-checkboxes-item>
    <app-checkboxes-item [element]="asm()"></app-checkboxes-item>
    <app-checkboxes-item [element]="asmNasm()"></app-checkboxes-item>
    <app-checkboxes-item [element]="asmMarmasm()"></app-checkboxes-item>
    <app-checkboxes-item [element]="asmMasm()"></app-checkboxes-item>
    <app-checkboxes-item [element]="asmAtt()"></app-checkboxes-item>
  </app-checkboxes-list>
  <br />
  {{toString()}}
</div>
