<div
  class="argument"
  [hidden]="!service.isEnabled(this) || versionService.isGreater( service.cmakeMinVersion, projectContext.version)"
>
  <label for="project-homepage-url"
    >Homepage URL
    <span class="version">{{service.cmakeRequiredVersion(this)}}</span
    ><span class="invalid">
      {{service.isValid(this) ? "" : "Invalid"}}</span
    ></label
  >
  <input
    type="url"
    id="project-homepage-url"
    name="project-homepage-url"
    pattern="https?:\/\/.+"
    [(ngModel)]="value"
    required
  />
  <br />
</div>
