<div class="field" [hidden]="!service.isEnabled(this)">
  <label [for]="projectSpdxLicenseId"
    >License <app-version-tag [element]="this" />
    <app-valid-tag [validator]="this"
  /></label>
  <input
    type="text"
    name="project-spdx-license"
    [attr.list]="datalist.inputLicenseListId"
    [id]="projectSpdxLicenseId"
    [(ngModel)]="valueSignal"
  />
  <br />
  <span
    ><a
      target="_blank"
      rel="noopener noreferrer"
      href="https://spdx.github.io/spdx-spec/v3.0.1/annexes/spdx-license-expressions/"
      >SPDX license(s)</a
    >
    of the project (i.e. <code>MIT</code>,
    <code>MIT or LGPL-2.0-or-later</code>,
    <code>MIT and BSD-3-Clause</code>).</span
  >
  <br />
  <app-input-license-data-list #datalist />
</div>
