<div class="field">
  <label [for]="tabOptionsMaxCMakeVersionId">Max CMake version:</label>
  <input
    type="text"
    name="max-cmake-version"
    [id]="tabOptionsMaxCMakeVersionId"
    [(ngModel)]="versionString"
    pattern="\d+\.\d+"
    required
  />
</div>
<div class="field">
  <label [for]="tabOptionsRootPathId"
    >Root path: <button (click)="selectPath()">...</button></label
  >
  <span>
    <input
      type="text"
      name="root-path"
      [id]="tabOptionsRootPathId"
      [(ngModel)]="projectContext.rootPath"
    />
  </span>
</div>
