<div class="field">
  <label [for]="tabOptionsMaxCMakeVersionId">Max CMake version:</label>
  <input
    name="max-cmake-version"
    pattern="\d+\.\d+"
    required
    type="text"
    [id]="tabOptionsMaxCMakeVersionId"
    [(ngModel)]="versionString"
  />
</div>
<div class="field">
  <label [for]="tabOptionsRootPathId"
    >Root path:
    <button name="root-path-button" type="button" (click)="selectPath()">
      ...
    </button></label
  >
  <span>
    <input
      name="root-path"
      type="text"
      [appAsyncInvalidValidator]="checkPath"
      [id]="tabOptionsRootPathId"
      [(ngModel)]="projectContext.rootPath"
    />
  </span>
</div>
