<app-draggable-list (orderChanged)="reorderItems($event)">
  @for (item of items; track $index) {
  <app-draggable-item>
    <ng-container #container />
  </app-draggable-item>
  }
</app-draggable-list>
<button type="button" (click)="cmakeListToConsole()">
  CMakeLists.txt to console
</button>
<button type="button" (click)="loadFromText()">Hardcoded parse</button>
<button type="button" (click)="saveToFile()">save to file</button>
<button type="button" (click)="loadFromFile()">load from file</button>
