<div class="field" [hidden]="!service.isEnabled(this)">
  <label [for]="cmakeProjectProjectNameIncludeBeforePathId"
    >CMAKE_PROJECT_{{projectNameSignal()}}_INCLUDE_BEFORE
    <button type="button" (click)="addPath()">+</button>
    <app-version-tag [element]="this" />
    <app-valid-tag [validator]="this"
  /></label>
  <label [for]="cmakeProjectProjectNameIncludeBeforeProjectNameId"
    >Project name:
    <input
      name="cmake-project-project-name-include-before-project-name"
      type="text"
      [id]="cmakeProjectProjectNameIncludeBeforeProjectNameId"
      [(ngModel)]="projectNameSignal"
    />
  </label>
  <textarea
    cols="80"
    name="cmake-project-project-name-include-before-path"
    type="text"
    [id]="cmakeProjectProjectNameIncludeBeforePathId"
    [rows]="rows"
    [(ngModel)]="filesSingleLine"
  ></textarea>
</div>
