<div class="field" [hidden]="!service.isEnabled(this)">
  <label [for]="cmakeProjectProjectNameIncludePathId"
    >CMAKE_PROJECT_{{projectName}}_INCLUDE
    <button type="button" (click)="addPath()">+</button>
    <app-version-tag [element]="this" />
    <app-valid-tag [validator]="this"
  /></label>
  <label [for]="cmakeProjectProjectNameIncludeProjectNameId"
    >Project name:
    <input
      name="cmake-project-project-name-include-project-name"
      type="text"
      [appAsyncInvalidValidator]="this.service.validateArg[0]"
      [appAsyncInvalidValidatorContext]="this"
      [id]="cmakeProjectProjectNameIncludeProjectNameId"
      [(ngModel)]="projectName"
    />
  </label>
  <textarea
    cols="80"
    name="cmake-project-project-name-include-path"
    type="text"
    [appAsyncInvalidValidator]="this.service.validateArg[1]"
    [appAsyncInvalidValidatorContext]="this"
    [id]="cmakeProjectProjectNameIncludePathId"
    [rows]="rows"
    [(ngModel)]="filesSingleLine"
  ></textarea>
</div>
