<div class="field" [hidden]="!service.isEnabled(this)">
  <label [for]="cmakeProjectIncludeBeforePathId"
    >CMAKE_PROJECT_INCLUDE_BEFORE <button (click)="addPath()">+</button>
    <span
      class="version"
      [class.invalid]="!service.isEffectiveVersionValid(this)"
      >{{service.cmakeRequiredVersion(this)}}</span
    ><app-valid-tag [validator]="this"
  /></label>
  <textarea
    type="text"
    name="cmake-project-include-before-path"
    cols="80"
    rows="{{rows}}"
    [id]="cmakeProjectIncludeBeforePathId"
    [(ngModel)]="valueSingleLine"
  ></textarea>
</div>
