<div class="field" [hidden]="!service.isEnabled(this)">
  <label [for]="cmakeProjectProjectNameIncludeBeforePathId"
    >CMAKE_PROJECT_{{projectNameSignal()}}_INCLUDE_BEFORE
    <button (click)="addPath()">+</button>
    <span class="version">{{service.cmakeRequiredVersion(this)}}</span
    ><span [class.invalid]="!isValid()" [hidden]="isValid()"
      >Invalid</span
    ></label
  >
  <label [for]="cmakeProjectProjectNameIncludeBeforeProjectNameId"
    >Project name:
    <input
      type="text"
      name="cmake-project-project-name-include-before-project-name"
      [id]="cmakeProjectProjectNameIncludeBeforeProjectNameId"
      [(ngModel)]="projectNameSignal"
    />
  </label>
  <textarea
    type="text"
    name="cmake-project-project-name-include-before-path"
    cols="80"
    rows="{{rows}}"
    [id]="cmakeProjectProjectNameIncludeBeforePathId"
    [(ngModel)]="valueSingleLine"
  ></textarea>
</div>
