<div
  [hidden]="!service.isEnabled(this) || versionService.isGreater( service.cmakeMinVersion, projectContext.version)"
>
  <label for="project-license">License</label>
  <input
    list="license-list"
    id="project-license"
    name="project-license"
    [(ngModel)]="value"
  />
  <br />
  <span
    ><a
      target="_blank"
      rel="noopener noreferrer"
      href="https://spdx.github.io/spdx-spec/v3.0.1/annexes/spdx-license-expressions/"
      >SPDX license(s)</a
    >
    of the project (i.e. <code>MIT</code>,
    <code>MIT or LGPL-2.0-or-later</code>,
    <code>MIT and BSD-3-Clause</code>).</span
  >
  <br />
</div>
<!-- https://spdx.org/licenses/ -->
<datalist id="license-list">
  <option value="0BSD"></option>
  <option value="3D-Slicer-1.0"></option>
  <option value="AAL"></option>
  <option value="Abstyles"></option>
  <option value="AdaCore-doc"></option>
  <option value="Adobe-2006"></option>
  <option value="Adobe-Display-PostScript"></option>
  <option value="Adobe-Glyph"></option>
  <option value="Adobe-Utopia"></option>
  <option value="ADSL"></option>
  <option value="AFL-1.1"></option>
  <option value="AFL-1.2"></option>
  <option value="AFL-2.0"></option>
  <option value="AFL-2.1"></option>
  <option value="AFL-3.0"></option>
  <option value="Afmparse"></option>
  <option value="AGPL-1.0-only"></option>
  <option value="AGPL-1.0-or-later"></option>
  <option value="AGPL-3.0-only"></option>
  <option value="AGPL-3.0-or-later"></option>
  <option value="Aladdin"></option>
  <option value="AMD-newlib"></option>
  <option value="AMDPLPA"></option>
  <option value="AML"></option>
  <option value="AML-glslang"></option>
  <option value="AMPAS"></option>
  <option value="ANTLR-PD"></option>
  <option value="ANTLR-PD-fallback"></option>
  <option value="any-OSI"></option>
  <option value="any-OSI-perl-modules"></option>
  <option value="Apache-1.0"></option>
  <option value="Apache-1.1"></option>
  <option value="Apache-2.0"></option>
  <option value="APAFML"></option>
  <option value="APL-1.0"></option>
  <option value="App-s2p"></option>
  <option value="APSL-1.0"></option>
  <option value="APSL-1.1"></option>
  <option value="APSL-1.2"></option>
  <option value="APSL-2.0"></option>
  <option value="Arphic-1999"></option>
  <option value="Artistic-1.0"></option>
  <option value="Artistic-1.0-cl8"></option>
  <option value="Artistic-1.0-Perl"></option>
  <option value="Artistic-2.0"></option>
  <option value="Artistic-dist"></option>
  <option value="Aspell-RU"></option>
  <option value="ASWF-Digital-Assets-1.0"></option>
  <option value="ASWF-Digital-Assets-1.1"></option>
  <option value="Baekmuk"></option>
  <option value="Bahyph"></option>
  <option value="Barr"></option>
  <option value="bcrypt-Solar-Designer"></option>
  <option value="Beerware"></option>
  <option value="Bitstream-Charter"></option>
  <option value="Bitstream-Vera"></option>
  <option value="BitTorrent-1.0"></option>
  <option value="BitTorrent-1.1"></option>
  <option value="blessing"></option>
  <option value="BlueOak-1.0.0"></option>
  <option value="Boehm-GC"></option>
  <option value="Boehm-GC-without-fee"></option>
  <option value="Borceux"></option>
  <option value="Brian-Gladman-2-Clause"></option>
  <option value="Brian-Gladman-3-Clause"></option>
  <option value="BSD-1-Clause"></option>
  <option value="BSD-2-Clause"></option>
  <option value="BSD-2-Clause-Darwin"></option>
  <option value="BSD-2-Clause-first-lines"></option>
  <option value="BSD-2-Clause-Patent"></option>
  <option value="BSD-2-Clause-pkgconf-disclaimer"></option>
  <option value="BSD-2-Clause-Views"></option>
  <option value="BSD-3-Clause"></option>
  <option value="BSD-3-Clause-acpica"></option>
  <option value="BSD-3-Clause-Attribution"></option>
  <option value="BSD-3-Clause-Clear"></option>
  <option value="BSD-3-Clause-flex"></option>
  <option value="BSD-3-Clause-HP"></option>
  <option value="BSD-3-Clause-LBNL"></option>
  <option value="BSD-3-Clause-Modification"></option>
  <option value="BSD-3-Clause-No-Military-License"></option>
  <option value="BSD-3-Clause-No-Nuclear-License"></option>
  <option value="BSD-3-Clause-No-Nuclear-License-2014"></option>
  <option value="BSD-3-Clause-No-Nuclear-Warranty"></option>
  <option value="BSD-3-Clause-Open-MPI"></option>
  <option value="BSD-3-Clause-Sun"></option>
  <option value="BSD-4-Clause"></option>
  <option value="BSD-4-Clause-Shortened"></option>
  <option value="BSD-4-Clause-UC"></option>
  <option value="BSD-4.3RENO"></option>
  <option value="BSD-4.3TAHOE"></option>
  <option value="BSD-Advertising-Acknowledgement"></option>
  <option value="BSD-Attribution-HPND-disclaimer"></option>
  <option value="BSD-Inferno-Nettverk"></option>
  <option value="BSD-Protection"></option>
  <option value="BSD-Source-beginning-file"></option>
  <option value="BSD-Source-Code"></option>
  <option value="BSD-Systemics"></option>
  <option value="BSD-Systemics-W3Works"></option>
  <option value="BSL-1.0"></option>
  <option value="BUSL-1.1"></option>
  <option value="bzip2-1.0.6"></option>
  <option value="C-UDA-1.0"></option>
  <option value="CAL-1.0"></option>
  <option value="CAL-1.0-Combined-Work-Exception"></option>
  <option value="Caldera"></option>
  <option value="Caldera-no-preamble"></option>
  <option value="Catharon"></option>
  <option value="CATOSL-1.1"></option>
  <option value="CC-BY-1.0"></option>
  <option value="CC-BY-2.0"></option>
  <option value="CC-BY-2.5"></option>
  <option value="CC-BY-2.5-AU"></option>
  <option value="CC-BY-3.0"></option>
  <option value="CC-BY-3.0-AT"></option>
  <option value="CC-BY-3.0-AU"></option>
  <option value="CC-BY-3.0-DE"></option>
  <option value="CC-BY-3.0-IGO"></option>
  <option value="CC-BY-3.0-NL"></option>
  <option value="CC-BY-3.0-US"></option>
  <option value="CC-BY-4.0"></option>
  <option value="CC-BY-NC-1.0"></option>
  <option value="CC-BY-NC-2.0"></option>
  <option value="CC-BY-NC-2.5"></option>
  <option value="CC-BY-NC-3.0"></option>
  <option value="CC-BY-NC-3.0-DE"></option>
  <option value="CC-BY-NC-4.0"></option>
  <option value="CC-BY-NC-ND-1.0"></option>
  <option value="CC-BY-NC-ND-2.0"></option>
  <option value="CC-BY-NC-ND-2.5"></option>
  <option value="CC-BY-NC-ND-3.0"></option>
  <option value="CC-BY-NC-ND-3.0-DE"></option>
  <option value="CC-BY-NC-ND-3.0-IGO"></option>
  <option value="CC-BY-NC-ND-4.0"></option>
  <option value="CC-BY-NC-SA-1.0"></option>
  <option value="CC-BY-NC-SA-2.0"></option>
  <option value="CC-BY-NC-SA-2.0-DE"></option>
  <option value="CC-BY-NC-SA-2.0-FR"></option>
  <option value="CC-BY-NC-SA-2.0-UK"></option>
  <option value="CC-BY-NC-SA-2.5"></option>
  <option value="CC-BY-NC-SA-3.0"></option>
  <option value="CC-BY-NC-SA-3.0-DE"></option>
  <option value="CC-BY-NC-SA-3.0-IGO"></option>
  <option value="CC-BY-NC-SA-4.0"></option>
  <option value="CC-BY-ND-1.0"></option>
  <option value="CC-BY-ND-2.0"></option>
  <option value="CC-BY-ND-2.5"></option>
  <option value="CC-BY-ND-3.0"></option>
  <option value="CC-BY-ND-3.0-DE"></option>
  <option value="CC-BY-ND-4.0"></option>
  <option value="CC-BY-SA-1.0"></option>
  <option value="CC-BY-SA-2.0"></option>
  <option value="CC-BY-SA-2.0-UK"></option>
  <option value="CC-BY-SA-2.1-JP"></option>
  <option value="CC-BY-SA-2.5"></option>
  <option value="CC-BY-SA-3.0"></option>
  <option value="CC-BY-SA-3.0-AT"></option>
  <option value="CC-BY-SA-3.0-DE"></option>
  <option value="CC-BY-SA-3.0-IGO"></option>
  <option value="CC-BY-SA-4.0"></option>
  <option value="CC-PDDC"></option>
  <option value="CC-PDM-1.0"></option>
  <option value="CC-SA-1.0"></option>
  <option value="CC0-1.0"></option>
  <option value="CDDL-1.0"></option>
  <option value="CDDL-1.1"></option>
  <option value="CDL-1.0"></option>
  <option value="CDLA-Permissive-1.0"></option>
  <option value="CDLA-Permissive-2.0"></option>
  <option value="CDLA-Sharing-1.0"></option>
  <option value="CECILL-1.0"></option>
  <option value="CECILL-1.1"></option>
  <option value="CECILL-2.0"></option>
  <option value="CECILL-2.1"></option>
  <option value="CECILL-B"></option>
  <option value="CECILL-C"></option>
  <option value="CERN-OHL-1.1"></option>
  <option value="CERN-OHL-1.2"></option>
  <option value="CERN-OHL-P-2.0"></option>
  <option value="CERN-OHL-S-2.0"></option>
  <option value="CERN-OHL-W-2.0"></option>
  <option value="CFITSIO"></option>
  <option value="check-cvs"></option>
  <option value="checkmk"></option>
  <option value="ClArtistic"></option>
  <option value="Clips"></option>
  <option value="CMU-Mach"></option>
  <option value="CMU-Mach-nodoc"></option>
  <option value="CNRI-Jython"></option>
  <option value="CNRI-Python"></option>
  <option value="CNRI-Python-GPL-Compatible"></option>
  <option value="COIL-1.0"></option>
  <option value="Community-Spec-1.0"></option>
  <option value="Condor-1.1"></option>
  <option value="copyleft-next-0.3.0"></option>
  <option value="copyleft-next-0.3.1"></option>
  <option value="Cornell-Lossless-JPEG"></option>
  <option value="CPAL-1.0"></option>
  <option value="CPL-1.0"></option>
  <option value="CPOL-1.02"></option>
  <option value="Cronyx"></option>
  <option value="Crossword"></option>
  <option value="CryptoSwift"></option>
  <option value="CrystalStacker"></option>
  <option value="CUA-OPL-1.0"></option>
  <option value="Cube"></option>
  <option value="curl"></option>
  <option value="cve-tou"></option>
  <option value="D-FSL-1.0"></option>
  <option value="DEC-3-Clause"></option>
  <option value="diffmark"></option>
  <option value="DL-DE-BY-2.0"></option>
  <option value="DL-DE-ZERO-2.0"></option>
  <option value="DOC"></option>
  <option value="DocBook-DTD"></option>
  <option value="DocBook-Schema"></option>
  <option value="DocBook-Stylesheet"></option>
  <option value="DocBook-XML"></option>
  <option value="Dotseqn"></option>
  <option value="DRL-1.0"></option>
  <option value="DRL-1.1"></option>
  <option value="DSDP"></option>
  <option value="dtoa"></option>
  <option value="dvipdfm"></option>
  <option value="ECL-1.0"></option>
  <option value="ECL-2.0"></option>
  <option value="EFL-1.0"></option>
  <option value="EFL-2.0"></option>
  <option value="eGenix"></option>
  <option value="Elastic-2.0"></option>
  <option value="Entessa"></option>
  <option value="EPICS"></option>
  <option value="EPL-1.0"></option>
  <option value="EPL-2.0"></option>
  <option value="ErlPL-1.1"></option>
  <option value="etalab-2.0"></option>
  <option value="EUDatagrid"></option>
  <option value="EUPL-1.0"></option>
  <option value="EUPL-1.1"></option>
  <option value="EUPL-1.2"></option>
  <option value="Eurosym"></option>
  <option value="Fair"></option>
  <option value="FBM"></option>
  <option value="FDK-AAC"></option>
  <option value="Ferguson-Twofish"></option>
  <option value="Frameworx-1.0"></option>
  <option value="FreeBSD-DOC"></option>
  <option value="FreeImage"></option>
  <option value="FSFAP"></option>
  <option value="FSFAP-no-warranty-disclaimer"></option>
  <option value="FSFUL"></option>
  <option value="FSFULLR"></option>
  <option value="FSFULLRSD"></option>
  <option value="FSFULLRWD"></option>
  <option value="FSL-1.1-ALv2"></option>
  <option value="FSL-1.1-MIT"></option>
  <option value="FTL"></option>
  <option value="Furuseth"></option>
  <option value="fwlw"></option>
  <option value="Game-Programming-Gems"></option>
  <option value="GCR-docs"></option>
  <option value="GD"></option>
  <option value="generic-xts"></option>
  <option value="GFDL-1.1-invariants-only"></option>
  <option value="GFDL-1.1-invariants-or-later"></option>
  <option value="GFDL-1.1-no-invariants-only"></option>
  <option value="GFDL-1.1-no-invariants-or-later"></option>
  <option value="GFDL-1.1-only"></option>
  <option value="GFDL-1.1-or-later"></option>
  <option value="GFDL-1.2-invariants-only"></option>
  <option value="GFDL-1.2-invariants-or-later"></option>
  <option value="GFDL-1.2-no-invariants-only"></option>
  <option value="GFDL-1.2-no-invariants-or-later"></option>
  <option value="GFDL-1.2-only"></option>
  <option value="GFDL-1.2-or-later"></option>
  <option value="GFDL-1.3-invariants-only"></option>
  <option value="GFDL-1.3-invariants-or-later"></option>
  <option value="GFDL-1.3-no-invariants-only"></option>
  <option value="GFDL-1.3-no-invariants-or-later"></option>
  <option value="GFDL-1.3-only"></option>
  <option value="GFDL-1.3-or-later"></option>
  <option value="Giftware"></option>
  <option value="GL2PS"></option>
  <option value="Glide"></option>
  <option value="Glulxe"></option>
  <option value="GLWTPL"></option>
  <option value="gnuplot"></option>
  <option value="GPL-1.0-only"></option>
  <option value="GPL-1.0-or-later"></option>
  <option value="GPL-2.0-only"></option>
  <option value="GPL-2.0-or-later"></option>
  <option value="GPL-3.0-only"></option>
  <option value="GPL-3.0-or-later"></option>
  <option value="Graphics-Gems"></option>
  <option value="gSOAP-1.3b"></option>
  <option value="gtkbook"></option>
  <option value="Gutmann"></option>
  <option value="HaskellReport"></option>
  <option value="HDF5"></option>
  <option value="hdparm"></option>
  <option value="HIDAPI"></option>
  <option value="Hippocratic-2.1"></option>
  <option value="HP-1986"></option>
  <option value="HP-1989"></option>
  <option value="HPND"></option>
  <option value="HPND-DEC"></option>
  <option value="HPND-doc"></option>
  <option value="HPND-doc-sell"></option>
  <option value="HPND-export-US"></option>
  <option value="HPND-export-US-acknowledgement"></option>
  <option value="HPND-export-US-modify"></option>
  <option value="HPND-export2-US"></option>
  <option value="HPND-Fenneberg-Livingston"></option>
  <option value="HPND-INRIA-IMAG"></option>
  <option value="HPND-Intel"></option>
  <option value="HPND-Kevlin-Henney"></option>
  <option value="HPND-Markus-Kuhn"></option>
  <option value="HPND-merchantability-variant"></option>
  <option value="HPND-MIT-disclaimer"></option>
  <option value="HPND-Netrek"></option>
  <option value="HPND-Pbmplus"></option>
  <option value="HPND-sell-MIT-disclaimer-xserver"></option>
  <option value="HPND-sell-regexpr"></option>
  <option value="HPND-sell-variant"></option>
  <option value="HPND-sell-variant-MIT-disclaimer"></option>
  <option value="HPND-sell-variant-MIT-disclaimer-rev"></option>
  <option value="HPND-UC"></option>
  <option value="HPND-UC-export-US"></option>
  <option value="HTMLTIDY"></option>
  <option value="IBM-pibs"></option>
  <option value="ICU"></option>
  <option value="IEC-Code-Components-EULA"></option>
  <option value="IJG"></option>
  <option value="IJG-short"></option>
  <option value="ImageMagick"></option>
  <option value="iMatix"></option>
  <option value="Imlib2"></option>
  <option value="Info-ZIP"></option>
  <option value="Inner-Net-2.0"></option>
  <option value="InnoSetup"></option>
  <option value="Intel"></option>
  <option value="Intel-ACPI"></option>
  <option value="Interbase-1.0"></option>
  <option value="IPA"></option>
  <option value="IPL-1.0"></option>
  <option value="ISC"></option>
  <option value="ISC-Veillard"></option>
  <option value="Jam"></option>
  <option value="JasPer-2.0"></option>
  <option value="jove"></option>
  <option value="JPL-image"></option>
  <option value="JPNIC"></option>
  <option value="JSON"></option>
  <option value="Kastrup"></option>
  <option value="Kazlib"></option>
  <option value="Knuth-CTAN"></option>
  <option value="LAL-1.2"></option>
  <option value="LAL-1.3"></option>
  <option value="Latex2e"></option>
  <option value="Latex2e-translated-notice"></option>
  <option value="Leptonica"></option>
  <option value="LGPL-2.0-only"></option>
  <option value="LGPL-2.0-or-later"></option>
  <option value="LGPL-2.1-only"></option>
  <option value="LGPL-2.1-or-later"></option>
  <option value="LGPL-3.0-only"></option>
  <option value="LGPL-3.0-or-later"></option>
  <option value="LGPLLR"></option>
  <option value="Libpng"></option>
  <option value="libpng-1.6.35"></option>
  <option value="libpng-2.0"></option>
  <option value="libselinux-1.0"></option>
  <option value="libtiff"></option>
  <option value="libutil-David-Nugent"></option>
  <option value="LiLiQ-P-1.1"></option>
  <option value="LiLiQ-R-1.1"></option>
  <option value="LiLiQ-Rplus-1.1"></option>
  <option value="Linux-man-pages-1-para"></option>
  <option value="Linux-man-pages-copyleft"></option>
  <option value="Linux-man-pages-copyleft-2-para"></option>
  <option value="Linux-man-pages-copyleft-var"></option>
  <option value="Linux-OpenIB"></option>
  <option value="LOOP"></option>
  <option value="LPD-document"></option>
  <option value="LPL-1.0"></option>
  <option value="LPL-1.02"></option>
  <option value="LPPL-1.0"></option>
  <option value="LPPL-1.1"></option>
  <option value="LPPL-1.2"></option>
  <option value="LPPL-1.3a"></option>
  <option value="LPPL-1.3c"></option>
  <option value="lsof"></option>
  <option value="Lucida-Bitmap-Fonts"></option>
  <option value="LZMA-SDK-9.11-to-9.20"></option>
  <option value="LZMA-SDK-9.22"></option>
  <option value="Mackerras-3-Clause"></option>
  <option value="Mackerras-3-Clause-acknowledgment"></option>
  <option value="magaz"></option>
  <option value="mailprio"></option>
  <option value="MakeIndex"></option>
  <option value="man2html"></option>
  <option value="Martin-Birgmeier"></option>
  <option value="McPhee-slideshow"></option>
  <option value="metamail"></option>
  <option value="Minpack"></option>
  <option value="MIPS"></option>
  <option value="MirOS"></option>
  <option value="MIT"></option>
  <option value="MIT-0"></option>
  <option value="MIT-advertising"></option>
  <option value="MIT-Click"></option>
  <option value="MIT-CMU"></option>
  <option value="MIT-enna"></option>
  <option value="MIT-feh"></option>
  <option value="MIT-Festival"></option>
  <option value="MIT-Khronos-old"></option>
  <option value="MIT-Modern-Variant"></option>
  <option value="MIT-open-group"></option>
  <option value="MIT-testregex"></option>
  <option value="MIT-Wu"></option>
  <option value="MITNFA"></option>
  <option value="MMIXware"></option>
  <option value="Motosoto"></option>
  <option value="MPEG-SSG"></option>
  <option value="mpi-permissive"></option>
  <option value="mpich2"></option>
  <option value="MPL-1.0"></option>
  <option value="MPL-1.1"></option>
  <option value="MPL-2.0"></option>
  <option value="MPL-2.0-no-copyleft-exception"></option>
  <option value="mplus"></option>
  <option value="MS-LPL"></option>
  <option value="MS-PL"></option>
  <option value="MS-RL"></option>
  <option value="MTLL"></option>
  <option value="MulanPSL-1.0"></option>
  <option value="MulanPSL-2.0"></option>
  <option value="Multics"></option>
  <option value="Mup"></option>
  <option value="NAIST-2003"></option>
  <option value="NASA-1.3"></option>
  <option value="Naumen"></option>
  <option value="NBPL-1.0"></option>
  <option value="NCBI-PD"></option>
  <option value="NCGL-UK-2.0"></option>
  <option value="NCL"></option>
  <option value="NCSA"></option>
  <option value="NetCDF"></option>
  <option value="Newsletr"></option>
  <option value="NGPL"></option>
  <option value="ngrep"></option>
  <option value="NICTA-1.0"></option>
  <option value="NIST-PD"></option>
  <option value="NIST-PD-fallback"></option>
  <option value="NIST-Software"></option>
  <option value="NLOD-1.0"></option>
  <option value="NLOD-2.0"></option>
  <option value="NLPL"></option>
  <option value="Nokia"></option>
  <option value="NOSL"></option>
  <option value="Noweb"></option>
  <option value="NPL-1.0"></option>
  <option value="NPL-1.1"></option>
  <option value="NPOSL-3.0"></option>
  <option value="NRL"></option>
  <option value="NTIA-PD"></option>
  <option value="NTP"></option>
  <option value="NTP-0"></option>
  <option value="O-UDA-1.0"></option>
  <option value="OAR"></option>
  <option value="OCCT-PL"></option>
  <option value="OCLC-2.0"></option>
  <option value="ODbL-1.0"></option>
  <option value="ODC-By-1.0"></option>
  <option value="OFFIS"></option>
  <option value="OFL-1.0"></option>
  <option value="OFL-1.0-no-RFN"></option>
  <option value="OFL-1.0-RFN"></option>
  <option value="OFL-1.1"></option>
  <option value="OFL-1.1-no-RFN"></option>
  <option value="OFL-1.1-RFN"></option>
  <option value="OGC-1.0"></option>
  <option value="OGDL-Taiwan-1.0"></option>
  <option value="OGL-Canada-2.0"></option>
  <option value="OGL-UK-1.0"></option>
  <option value="OGL-UK-2.0"></option>
  <option value="OGL-UK-3.0"></option>
  <option value="OGTSL"></option>
  <option value="OLDAP-1.1"></option>
  <option value="OLDAP-1.2"></option>
  <option value="OLDAP-1.3"></option>
  <option value="OLDAP-1.4"></option>
  <option value="OLDAP-2.0"></option>
  <option value="OLDAP-2.0.1"></option>
  <option value="OLDAP-2.1"></option>
  <option value="OLDAP-2.2"></option>
  <option value="OLDAP-2.2.1"></option>
  <option value="OLDAP-2.2.2"></option>
  <option value="OLDAP-2.3"></option>
  <option value="OLDAP-2.4"></option>
  <option value="OLDAP-2.5"></option>
  <option value="OLDAP-2.6"></option>
  <option value="OLDAP-2.7"></option>
  <option value="OLDAP-2.8"></option>
  <option value="OLFL-1.3"></option>
  <option value="OML"></option>
  <option value="OpenPBS-2.3"></option>
  <option value="OpenSSL"></option>
  <option value="OpenSSL-standalone"></option>
  <option value="OpenVision"></option>
  <option value="OPL-1.0"></option>
  <option value="OPL-UK-3.0"></option>
  <option value="OPUBL-1.0"></option>
  <option value="OSET-PL-2.1"></option>
  <option value="OSL-1.0"></option>
  <option value="OSL-1.1"></option>
  <option value="OSL-2.0"></option>
  <option value="OSL-2.1"></option>
  <option value="OSL-3.0"></option>
  <option value="PADL"></option>
  <option value="Parity-6.0.0"></option>
  <option value="Parity-7.0.0"></option>
  <option value="PDDL-1.0"></option>
  <option value="PHP-3.0"></option>
  <option value="PHP-3.01"></option>
  <option value="Pixar"></option>
  <option value="pkgconf"></option>
  <option value="Plexus"></option>
  <option value="pnmstitch"></option>
  <option value="PolyForm-Noncommercial-1.0.0"></option>
  <option value="PolyForm-Small-Business-1.0.0"></option>
  <option value="PostgreSQL"></option>
  <option value="PPL"></option>
  <option value="PSF-2.0"></option>
  <option value="psfrag"></option>
  <option value="psutils"></option>
  <option value="Python-2.0"></option>
  <option value="Python-2.0.1"></option>
  <option value="python-ldap"></option>
  <option value="Qhull"></option>
  <option value="QPL-1.0"></option>
  <option value="QPL-1.0-INRIA-2004"></option>
  <option value="radvd"></option>
  <option value="Rdisc"></option>
  <option value="RHeCos-1.1"></option>
  <option value="RPL-1.1"></option>
  <option value="RPL-1.5"></option>
  <option value="RPSL-1.0"></option>
  <option value="RSA-MD"></option>
  <option value="RSCPL"></option>
  <option value="Ruby"></option>
  <option value="Ruby-pty"></option>
  <option value="SAX-PD"></option>
  <option value="SAX-PD-2.0"></option>
  <option value="Saxpath"></option>
  <option value="SCEA"></option>
  <option value="SchemeReport"></option>
  <option value="Sendmail"></option>
  <option value="Sendmail-8.23"></option>
  <option value="Sendmail-Open-Source-1.1"></option>
  <option value="SGI-B-1.0"></option>
  <option value="SGI-B-1.1"></option>
  <option value="SGI-B-2.0"></option>
  <option value="SGI-OpenGL"></option>
  <option value="SGP4"></option>
  <option value="SHL-0.5"></option>
  <option value="SHL-0.51"></option>
  <option value="SimPL-2.0"></option>
  <option value="SISSL"></option>
  <option value="SISSL-1.2"></option>
  <option value="SL"></option>
  <option value="Sleepycat"></option>
  <option value="SMAIL-GPL"></option>
  <option value="SMLNJ"></option>
  <option value="SMPPL"></option>
  <option value="SNIA"></option>
  <option value="snprintf"></option>
  <option value="SOFA"></option>
  <option value="softSurfer"></option>
  <option value="Soundex"></option>
  <option value="Spencer-86"></option>
  <option value="Spencer-94"></option>
  <option value="Spencer-99"></option>
  <option value="SPL-1.0"></option>
  <option value="ssh-keyscan"></option>
  <option value="SSH-OpenSSH"></option>
  <option value="SSH-short"></option>
  <option value="SSLeay-standalone"></option>
  <option value="SSPL-1.0"></option>
  <option value="SugarCRM-1.1.3"></option>
  <option value="SUL-1.0"></option>
  <option value="Sun-PPP"></option>
  <option value="Sun-PPP-2000"></option>
  <option value="SunPro"></option>
  <option value="SWL"></option>
  <option value="swrule"></option>
  <option value="Symlinks"></option>
  <option value="TAPR-OHL-1.0"></option>
  <option value="TCL"></option>
  <option value="TCP-wrappers"></option>
  <option value="TermReadKey"></option>
  <option value="TGPPL-1.0"></option>
  <option value="ThirdEye"></option>
  <option value="threeparttable"></option>
  <option value="TMate"></option>
  <option value="TORQUE-1.1"></option>
  <option value="TOSL"></option>
  <option value="TPDL"></option>
  <option value="TPL-1.0"></option>
  <option value="TrustedQSL"></option>
  <option value="TTWL"></option>
  <option value="TTYP0"></option>
  <option value="TU-Berlin-1.0"></option>
  <option value="TU-Berlin-2.0"></option>
  <option value="Ubuntu-font-1.0"></option>
  <option value="UCAR"></option>
  <option value="UCL-1.0"></option>
  <option value="ulem"></option>
  <option value="UMich-Merit"></option>
  <option value="Unicode-3.0"></option>
  <option value="Unicode-DFS-2015"></option>
  <option value="Unicode-DFS-2016"></option>
  <option value="Unicode-TOU"></option>
  <option value="UnixCrypt"></option>
  <option value="Unlicense"></option>
  <option value="Unlicense-libtelnet"></option>
  <option value="Unlicense-libwhirlpool"></option>
  <option value="UPL-1.0"></option>
  <option value="URT-RLE"></option>
  <option value="Vim"></option>
  <option value="VOSTROM"></option>
  <option value="VSL-1.0"></option>
  <option value="W3C"></option>
  <option value="W3C-19980720"></option>
  <option value="W3C-20150513"></option>
  <option value="w3m"></option>
  <option value="Watcom-1.0"></option>
  <option value="Widget-Workshop"></option>
  <option value="Wsuipa"></option>
  <option value="WTFPL"></option>
  <option value="wwl"></option>
  <option value="X11"></option>
  <option value="X11-distribute-modifications-variant"></option>
  <option value="X11-swapped"></option>
  <option value="Xdebug-1.03"></option>
  <option value="Xerox"></option>
  <option value="Xfig"></option>
  <option value="XFree86-1.1"></option>
  <option value="xinetd"></option>
  <option value="xkeyboard-config-Zinoviev"></option>
  <option value="xlock"></option>
  <option value="Xnet"></option>
  <option value="xpp"></option>
  <option value="XSkat"></option>
  <option value="xzoom"></option>
  <option value="YPL-1.0"></option>
  <option value="YPL-1.1"></option>
  <option value="Zed"></option>
  <option value="Zeeff"></option>
  <option value="Zend-2.0"></option>
  <option value="Zimbra-1.3"></option>
  <option value="Zimbra-1.4"></option>
  <option value="Zlib"></option>
  <option value="zlib-acknowledgement"></option>
  <option value="ZPL-1.1"></option>
  <option value="ZPL-2.0"></option>
  <option value="ZPL-2.1"></option>
</datalist>
