<div class="project-command">
  <h1>
    Project @if (viewInitialized()) {
    <app-version-tag [element]="this" />
    <app-valid-tag [validator]="this" />
    }
    <app-checkboxes-list icon="menu">
      <app-checkboxes-item [element]="spdxLicense" />
      <app-checkboxes-item [element]="version" />
      <app-checkboxes-item [element]="compatVersion" />
      <app-checkboxes-item [element]="description" />
      <app-checkboxes-item [element]="homepageUrl" />
      <app-checkboxes-item [element]="languages" />
    </app-checkboxes-list>
  </h1>
</div>
<app-project-name-argument #name />
<app-project-spdx-license-argument #spdxLicense />
<app-project-version-argument #version />
<app-project-compat-version-argument #compatVersion />
<app-project-description-argument #description />
<app-project-homepage-url-argument #homepageUrl />
<app-project-languages-argument #languages />
