.field:hover {
    background-color: grey;
}

.field label {
    display: block;
}

.field input:invalid {
    color: red;
}

.version {
    background-color: mediumseagreen;
    border-radius: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    display: inline-block;
    font-size: initial;
    font-weight: initial;
}

.invalid {
    background-color: red;
    border-radius: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    display: inline-block;
    font-size: initial;
    font-weight: initial;
}