# This is a basic workflow to help you get started with Actions
name: 'Tauri Build'

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    strategy:
      matrix:
        node-version: [24]
        platform: [ubuntu-latest, windows-latest]

    # The type of runner that the job will run on
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v5

      - name: install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: install rust stable
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          rust-src-dir: src-tauri

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      # Step 4: Install Chrome and other dependencies
      - name: Install Chrome dependencies
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install Dependencies
        run: |
          pnpm i -g @angular/cli
          pnpm install

      - name: build tauri app
        uses: tauri-apps/tauri-action@v0

      - name: Angular tests
        run: pnpm run test-ci
#      - name: Check lint
#        run: pnpm run lint
